* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4e0e1;
}

#library {
  margin-top: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 200px 200px;
  align-content: center;
  justify-content: center;
  background-color: #d6c0b3;
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  border-left: 5px solid #493628;
  background-color: #ab886d;
  border-radius: 5px;
}

.book p {
  color: rgba(0, 0, 0, 0.5);
}

.book.finished {
  background-color: #493628;
  border-left: 5px solid #ab886d;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(220, 215, 201);
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
}

.delete-button:hover {
  background-color: red;
  cursor: pointer;
}

.edit-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.edit-button:hover {
  color: black;
  font-weight: 900;
  cursor: pointer;
}

.add-button {
  height: 200px;
  border: 0;
  border-radius: 5px;
  font-size: 3rem;
  opacity: 0.6;
}

.add-button:hover {
  opacity: 1;
  cursor: pointer;
}

.read-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
}

.read-button:hover {
  color: black;
  font-weight: 900;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

form.hide {
  display: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: cursive;
}
