* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#library {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 150px);
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  height: 200px;

  background-color: burlywood;
  border-radius: 5px;
}

.book p {
  color: rgba(0, 0, 0, 0.5);
}

.book.finished {
  opacity: 0.2;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
}

.delete-button:hover {
  color: red;
  font-weight: 900;
  cursor: pointer;
}

.edit-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.edit-button:hover {
  color: black;
  font-weight: 900;
  cursor: pointer;
}

.add-button {
  border: 0;
  border-radius: 5px;
  font-size: 3rem;
  opacity: 0.6;
}

.add-button:hover {
  opacity: 1;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

form.hide {
  display: none;
}
